h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

:root {
  --light-color: #f5f5f7;
  --dark-color: #221f20;
  --container-padding-inline: 13%;
  --footer-padding-inline: 10%;
  @media screen and (max-width: 768px) {
    --container-padding-inline: 6%;
    --footer-padding-inline: 6%;
  }
}

html {
  font-family: "Inter", sans-serif;
}

.container {
  padding: 0 var(--container-padding-inline);
}

.title {
  position: relative;
  font-weight: 400;
  font-size: 40px;
  color: var(--dark-color);
  width: fit-content;
  margin: 0 auto;

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #000;
    width: 75px;
    height: 2px;
    right: 0;
    bottom: -1px;

    transform-origin: right center;
    animation: draw 1 linear;
    animation-timeline: view(); /* связываем с видимостью элемента */
    animation-range: entry 20% cover 20%;
  }
  @media screen and (max-width: 768px) {
    font-size: 36px;
  }
  @media screen and (max-width: 425px) {
    font-size: 24px;
  }
}

@keyframes draw {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.tel {
  text-decoration: none;
  transition: all 0.3s ease-out;
  color: inherit;
  &:hover {
    opacity: 50%;
  }
}

.promo {
  min-height: 100vh;
  background: #000 url(../img/main_bg.jpg) center center / cover no-repeat;
  padding-top: 75px;
  position: relative;
  @media screen and (max-width: 768px) {
    background-size: 150% auto;
    background-position: 50% bottom;
  }
  @media screen and (max-width: 425px) {
    min-height: 500px;
  }
}

.promo__title {
  color: var(--light-color);
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    font-size: 48px;
  }
  @media screen and (max-width: 425px) {
    font-size: 26px;
  }
}

.promo__subtitle {
  margin-top: 124px;
  color: var(--light-color);
  font-weight: 100;
  font-size: 32px;
  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
  @media screen and (max-width: 425px) {
    font-size: 16px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  min-height: 38px;
  border: 1px solid var(--light-color, #f5f5f7);
  background-color: transparent;
  margin-top: 20px;
  padding: 3px 10px;

  font-weight: 100;
  font-size: 16px;
  color: var(--light-color);
  text-decoration: none;

  cursor: pointer;
  transition: all 0.3s ease-out;

  @media screen and (max-width: 425px) {
    font-size: 16px;
    min-height: 30px;
    width: 120px;
  }
}

.btn:hover {
  font-weight: 500;
  box-shadow: 5px 5px 10px 0px #ffffff9e;
}

.promo__address {
  position: relative;
  margin-top: 100px;
  font-weight: 100;
  font-size: 16px;
  z-index: 0;
  color: var(--light-color);
  address {
    font-style: normal;
  }
  &::before {
    content: "";
    display: block;
    background: url("../icons/arrow.svg") center center / cover no-repeat;
    position: absolute;
    width: 40px;
    height: 49px;
    left: -45px;
    top: -17px;
  }
  @media screen and (max-width: 768px) {
    &::before {
      left: -40px;
    }
  }

  @media screen and (max-width: 600px) {
    &::before {
      display: none;
    }
  }
}

.keywords-wrap {
  display: flex;
  align-items: center;
  overflow: hidden;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  gap: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.12) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  .keywords {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style: none;
    min-width: 100%;
    animation: scroll 20s linear infinite;
    li {
      color: var(--light-color);
      font-weight: 100;
      font-size: 10px;
      white-space: nowrap;
    }
  }

  .marquee {
    animation: scroll 20s linear infinite;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.about {
  padding-top: 80px;
  background-color: var(--light-color);
}

.about__title {
  color: var(--dark-color);
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
}

.about__text {
  max-width: 1100px;
  font-weight: 400;
  font-size: 40px;
  color: var(--dark-color);
  margin-top: 20px;
  span {
    color: #a5a5a5;
  }
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
  @media screen and (max-width: 425px) {
    font-size: 16px;
  }
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px 10px;
  margin-top: 80px;

  font-weight: 400;
  font-size: 16px;
  color: var(--dark-color);

  ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
  li + li {
    margin-top: 10px;
  }

  li {
    position: relative;
    &:first-child::before,
    &:nth-child(3)::before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      left: -30px;
      top: 2px;
    }
    &:first-child::before {
      background: url("../icons/camera.svg") center center / cover no-repeat;
    }
    &:nth-child(3)::before {
      background: url("../icons/edit.svg") center center / cover no-repeat;
    }
  }

  @media screen and (max-width: 600px) {
    li:first-child::before,
    li:nth-child(3)::before {
      display: none;
    }
  }
  @media screen and (max-width: 425px) {
    font-size: 14px;
  }
}

.services__items-subtitle {
  font-style: italic;
}

.services__descr {
  font-size: 20px;
  letter-spacing: 0.4px;
  @media screen and (max-width: 425px) {
    font-size: 12px;
  }
}

.works {
  padding-top: 80px;
  background-color: var(--light-color);
}

.works__grid {
  display: grid;
  margin-top: 50px;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(220px, calc((100% - 30px) / 2), 1000px), 1fr)
  );
  justify-items: stretch;
  gap: 50px 30px;
  img {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

.inspiration {
  padding-top: 80px;
  background-color: var(--light-color);
  container-type: inline-size;
  container-name: insp-section;

  .inspiration__grid {
    display: grid;
    margin-top: 50px;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: stretch;
    align-items: stretch;
    gap: 30px;
    container-type: inline-size;
    container-name: insp-grid;
    img {
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
      object-fit: cover;
    }

    #tenement {
      grid-row: span 2;
    }

    #sky {
      grid-column: span 2;
    }
  }

  @container insp-grid (max-width: calc(2 * 220px + 30px)) {
    .inspiration__grid #sky {
      grid-column: auto;
    }
  }
  @container insp-section (min-width: calc(4 * 220px + 3 * 30px)) {
    .inspiration__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.customers {
  padding: 80px 0 100px 0;
  background-color: var(--light-color);
  container-type: inline-size;
  container-name: customers-section;

  .customers__grid {
    display: grid;
    margin-top: 53px;
    grid-template-columns: repeat(auto-fill, minmax(154px, 1fr));
    justify-items: stretch;
    align-items: stretch;
    gap: 30px;
    img {
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
      object-fit: cover;
    }
  }

  @container customers-section (min-width: calc(4 * 154px + 3 * 30px)) {
    .customers__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

footer {
  padding: 88px var(--footer-padding-inline);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  gap: 30px;

  font-weight: 400;
  font-size: 20px;
  color: var(--light-color);

  .footer__social {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 30px;
    cursor: pointer;

    a {
      padding: 5px;
      border: 1px solid var(--light-color);
      display: block;
      transition: all 0.3s ease-out;
      color: white;
      margin: 0;
      &:hover {
        transform: scale(1.15);
        box-shadow: 5px 5px 10px 0px #ffffff9e;
      }
    }
  }

  address {
    font-style: normal;
  }

  @media screen and (max-width: 880px) {
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    padding: 30px var(--footer-padding-inline);
  }
  @media screen and (max-width: 425px) {
    flex-direction: column;
    align-items: center;
    address {
      order: 3;
      text-align: center;
    }
  }
}
